
<div class="hero-unit">
<% @users.each do |user| %>
<h3> <%= user.email %> </h3>
<li><%=link_to "make admin", '#'%></li>
<%= form_for user do |f| %>
 <div class="field">
  <%= f.label :role %><br />
  <%= f.collection_select :role, User::ROLES, :to_s, :humanize %>   </div>
<% end %>
<% end %>
</div>
