  <div class="body">
    <div class="hero-unit">
     <h1>Xtunes<small> Buy Music Now</small></h1>
      <div class="description">
        <p class="lead">
          <span>The best music </span>
          <span>at the best price</span>
        </p>
      </div>

      <%= search_form_for @search do |f| %>
      <div class="field">
        <%=f.label :name_cont, "Search by song name" %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="btn-group">
      <button class="btn btn-primary"><%= f.submit %>
      </button>
      <% end %>
      </div>
    </div>
  </div>

    <div id="posts" class="row isotope">
    <!-- Posts will go here ... -->
      <% @songs.each do |song| %>
      <div class="post span4" >
        <div class="img">
        <%= image_tag song.photo %>
          <div class="well">
            <h4>
            <b>Song:</b>
            <%= song.name %>
            <br>
            <b>Artist:</b>
            <%= song.artist %>
            <br>
            <b>Genre:</b>
            <%= song.genre %>
            <br>
            <b>Album:</b>
            <%= song.album %>
            <br>
            <b>Price:</b>
            <%= song.price %>
            <br>
            </h4>
          </div>
        </div>
      </div>
    <% end %>
    </div>
</body>
</html>


