  <div class="body">
    <div class="hero-unit">
       <div class="row">
      <div class="bigx"><em><strong>Xtunes</em></strong></div>
      <div>
     <h1><em><strong>Xtunes</em><strong><small> Buy Music Now</small></h1>
      <div class="description">
        <p class="lead">
          <span>The best music </span>
          <span>at the best price</span>
        </p>
      </div>
      </div>

      <%= search_form_for @search do |f| %>
      <div class="field">
        <%=f.label :name_cont, "Search by song name" %>
        <%= f.text_field :name_cont %>
      </div>
      <div class="btn-group">
      <%= f.submit :class => 'btn btn-primary btn-large' %>
      <% end %>
      </div>

    </div>
  </div>

  <div id="posts" class="row isotope">
    <!-- Posts will go here ... -->
    <% @songs.each do |song| %>
    <div class="post span3" >
      <div class="well">
        <div class="thumbnail">
          <%= image_tag song.photo %>
        </div>
        <h4>
        <b>Song:</b>
        <%= song.name %>
        <br>
        <b>Artist:</b>
        <%= song.artist %>
        <br>
        <b>Genre:</b>
        <%= song.genre %>
        <br>
        <b>Album:</b>
        <%= song.album %>
        <br>
        <b>Price:</b>
        <%= number_to_currency song.price %>
        <br>
        <%= link_to "Purchase",new_song_purchase_path(song) %>
        <br>
        </h4>

      </div>
    </div>
    <% end %>
  </div>

</body>
</html>


